<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta property="fb:pages" content="1491600967552947" />
	<title>RSS Test</title>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/css/reset.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
</head>
<body>

    <div class="navbar-fixed primary">
        <nav>
            <div class="nav-wrapper">
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="/"><code>Posts</code></a></li>
                    <li><a href="/create"><code>Create</code></a></li>
                </ul>
            </div>
        </nav>
    </div>

    {{{body}}}

    <script src="/assets/javascript/app.js"></script>
</body>
</html>

