<div class="row">
    <form class="col s12" action="/create" method="POST">
      <div class="row">
        <div class="input-field col s6">
          <input id="playlist_name" type="text" class="validate" name="playlist_name">
          <label for="playlist_name">Playlist Name</label>
        </div>
        <div class="input-field col s6">
          <input id="genre" type="text" class="validate" name="genre">
          <label for="genre">Genre</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="spotify_url" type="text" class="validate" name="spotify_url">
          <label for="spotify_url">Spotify URL</label>
        </div>
        <div class="input-field col s6">
          <input id="itunes_url" type="text" class="validate" name="itunes_url">
          <label for="itunes_rul">iTunes URL</label>
        </div>
      </div>
      <button class="waves-effect waves-light btn" type="submit">Save</button>
    </form>
  </div>