<div class="single-playlist-container">
  <h4>Stream {{post.playlist_name}} on:</h4>
  <table>
    <tr>
      <td>
        <a href=# target="_blank"><img src="https://calm-wildwood-87141.herokuapp.com/assets/images/google-icon.png"></a>
      </td>
      <td>
        <a href={{itunes_url}} target="_blank"><img src="https://calm-wildwood-87141.herokuapp.com/assets/images/itunes-icon.png"></a>
      </td>
      <td>
        <a href={{spotify_url}} target="_blank"><img src="https://calm-wildwood-87141.herokuapp.com/assets/images/spotify-icon.png"></a>
      </td>
    </tr>
    <tr>
      <td>
        <a href=# target="_blank"><img src="https://calm-wildwood-87141.herokuapp.com/assets/images/tidal-icon.png"></a>
      </td>
      <td>
        <a href=# target="_blank"><img src="https://calm-wildwood-87141.herokuapp.com/assets/images/youtube-icon.png"></a>
      </td>
      <td>
        <a href=# target="_blank"><img src="https://calm-wildwood-87141.herokuapp.com/assets/images/amazon-icon.png"></a>
      </td>
    </tr>
  </table>
  <ol>
    <li>1. Song Title</li>
    <li>2. Song Title</li>
    <li>3. Song Title</li>
    <li>4. Song Title</li>
    <li>5. Song Title</li>
    <li>6. Song Title</li>
  </ol>
</div>